#Search {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#Search_Item {
    text-align: center;
    width: 33%;
    display: inline-block;
}

table.customTable {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #7ea8f8;
    border-style: solid;
    color: #000000;
  }
  
  table.customTable td, table.customTable th {
    border-width: 2px;
    border-color: #7ea8f8;
    border-style: solid;
    padding: 5px;
  }
  
  table.customTable thead {
    background-color: #7ea8f8;
  }
  
  table.customTable tr:nth-child(even) {
    background: #D0E4F5;
  }